# Если образец исключения, так или иначе определенный для одного вашего
# репозитария, не должен применяться к какому-нибудь клону этого репози­
# тария, то шаблоны должны находиться в файле .git/info/exclude, поскольку
# он не копируется во время операций клонирования.


# игнорирует все .о файлы в репозитарии, но Git будет отслеживать файл driver.o
*.o
!driver.o